# Deploy
/.artifacts

# Npm or Yarn
node_modules
npm-debug.log
npm-shrinkwrap.json
package-lock.json

# Numerous always-ignore extensions
*.bak
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~


# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
.env
dist/
build/
.plugin_config_cache
.locale

# vscode 插件生成的临时文件夹
.history
# locales
translation/
.env.development